# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Fresh build directory
_fresh/
# npm dependencies
node_modules/
fresh.gen.ts

Code*chạy*trên*client\URL,*HTML\Lấy*thông*tin*từ URL\-cat.tiensinh-videos-1003254044066366.html